---
layout: default
---
<div class="post">
    <div class="shadow"></div>
    <div class="date-block">
        <span class="date">{{ page.date | date: "%d" }}</span>
        <span class="month">{{ page.date | date: "%b" }} {{ page.date | date: "%Y" }}</span>
    </div>
    
    <span class="post-title">{{ page.title }}</span>
    <div class="content">{{ content }}</div>
    <div class="categories">
        <!-- This loops through the post categories -->
        {% for cat in page.categories %}
        <span class="category">{{cat}}</span>
        {% if forloop.last %}{% else %},&nbsp;{% endif %}
        {% endfor %}
    </div>
</div>
